.cardContainer {
    width: 26.875rem;
    height: 20rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 400px;
    height: 260.85px;
    margin-bottom: 20px;
    transition: transform 0.3s ease;
}

.card:hover {
    transform: scale(1.05);
}

.capa {
    width: 100%;
    height: 225px;
    border-radius: 15px 15px 0px 0px;
    border: 5px 0px 0px 0px;
}

.containerIcon {
    display: flex;
    height: 50px;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
    gap: 1rem;
    padding: .5rem;
    border-radius: 0px 0px 15px 15px;
    width: 100%;
    /* Para que la card ocupe el 100% del contenedor */
    max-width: 400px;
}

.containerIcon button {
    display: flex;
    align-items: center;
    gap: 8px;
    border: none;
    background-color: transparent;
    font-family: var(--font2);
    font-size: 18px;
    font-weight: 600;
    color: white;
    cursor: pointer;
}

#deleteBtn:hover {
    color: red;
}

#updateBtn:hover {
    color: rgb(209, 174, 19);
}