.link{
    font-family: var(--font);
    font-size: 19px;
    font-weight: 900;
    color: white;
    text-decoration: none;
    border-radius: 0.625rem;
    border: 2px solid var(--Blue);
    margin: 0 1rem;
    text-align: center;
    opacity: 0.9;
    width: 9rem;
    padding: 8px;
}

.link:hover{
    filter: brightness(1.4);
    color: var(--Blue);
}

.activeLink {
    background-color: var(--BlueDark);
    color: var(--Blue);
    border: 2px solid var(--Blue);
    box-shadow: 0 0 10px 5px var(--Blue);
    border-radius: 0.625rem;
}

@media (max-width:600px){
    .link{
        width: 100%;
    }

    .link:hover{
        background-color: rgba(5, 5, 59, 0.606);
    }
}
