.principalContainer {
    gap: 10px;
    padding: 40px 60px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.title {
    font-family: var(--font2);
    font-weight: 900;
    font-size: 40px;
}

.description {
    font-family: var(--font2);
    font-weight: 400;
    font-size: 20px;
}

.formContainer {
    display: flex;
    width: 60%;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    margin-top: 10px;
}

.formContainer h3 {
    font-family: var(--font);
    font-size: 25px;
    font-weight: 600;
    display: inline-block;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    padding: 10px 0;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.fieldGroup {
    display: flex;
    width: 100%;
    gap: 40px;

}

#descriptionFieldGroup {
    display: flex;
    flex-direction: column;
    gap: 10px
}

#descriptionFieldGroup input {
    width: 300px;
    height: 100px;
}

#area {
    color: whited;
    background-color: transparent;
    padding: 5px;
    font-family: var(--font2);
    border-radius: 10px;
    max-width: 500px;
    min-height: 100px;
}

.buttons {
    display: flex;
    gap: 20px;

}

.buttons button {
    font-family: var(--font2);
    font-weight: 900;
    width: 100px;
    background-color: transparent;
    color: white;
    padding: 8px 10px;
    border: 2px solid white;
    border-radius: 8px;
}

#btnSave {
    border-color: var(--Blue);
}

@media (max-width: 768px) {
    .container {
        padding: 20px 30px;
    }

    .formContainer h3 {
        width: 100%;
    }

    .fieldGroup {
        flex-direction: column;
        gap: 10px;
    }

    #descriptionFieldGroup input {
        width: 100%;
    }

    .area {
        width: 100%;
        min-height: 80px;
        color: white;
    }

    .buttons {
        flex-direction: column;
        gap: 10px;
    }

    .buttons button {
        width: 100%;
    }
}

@media (max-width: 468px) {
    .container {
        padding: 20px 10px;
    }

    .description {
        font-size: 15px;
        text-align: center;
        margin-bottom: 20px;
    }

    .formContainer{
        width: 100%;
    }

}